<section class="art-details">
    <h2>{{title}}</h2>
    <img src="{{image}}" style="width: 400px">
    <p>
        Artist: {{artist.name}} <br />
        Year: {{year}} <br />
        Location: {{location}}
    </p>
    <p>
        <strong>Description:</strong>
        {{description}}
    </p>
</section>

<a href="/arts">Back</a> 