<section class="art-details">
    <h2>{{name}}</h2>
    {{!-- {{<img src="{{image}}"}} --}}
    <p>
        Nationality: {{nationality}} <br />
        Birth: {{this.birth}} <br>
        Death: {{this.death}} <br>
    </p>
    <p>
        <strong>About:</strong>
        {{about}}
    </p>
</section>

<a href="/artists">Back</a> 