<div class="container">
    <main class="mt-5 pt-4">
        <div class="container dark-grey-text mt-5 px-4 bg-light bg-opacity-50">
            <div class="row wow fadeIn">
                <div class="col-md-6 my-4">
                     <img src="{{artistDetails.image}}" class="img-fluid w-100">
                </div>
                <div class="col-md-6 mb-4">
                    <div class="p-4">
                        <div class="mb-3">
                            <h2>{{artistDetails.name}}</h2>
                        </div>
                        <div class="lead">
                            <p><strong>Nationality:</strong> {{artistDetails.nationality}}</p>
                            <p><strong>Birth:</strong> {{artistDetails.birth}}</p>
                            <p><strong>Death:</strong> {{artistDetails.death}}</p>
                        </div>
                        <p class="lead font-weight-bold"><strong>About:</strong></p>
                        <p>{{artistDetails.about}}</p>
                        <a class="link-success" href="/artists">Back to Artists</a>
                    </div>                    
                </div>                
            </div>
        </div>
    </main>
</div>









